body{
    background-color: lightblue;
}
.headbox{
    background-color: lightblue;
}
h1{
    color: white;
    text-align: center;
    font-size: 6vh;
    text-shadow: 0 0 2px 2px grey;
}
.content{
    font-size:1rem;
    padding-top: 2.0rem;
    padding-right: 8.0rem;
    padding-left: 8.0rem;
}
